@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-baseline {
    display: flex;
    align-items: baseline;
}