<form class="search-filter" aria-label="Search and Filter Section">
   <div class="search-container">
       <input
         type="text"
         id="country-search"
         class="search-input"
         placeholder="Search for a country…"
         aria-label="Search for a country"
         (input)="onInput($event)"
       />
   </div>
  
   <div class="filter-container">

       <select
         id="region-filter"
         class="filter-dropdown"
         name="region"
         aria-label="Filter by region"
          [(ngModel)]="selectedRegion"
         (change)="onChange(selectedRegion)"
       >
         <option value="" disabled>Filter by Region</option>
         <option *ngFor="let region of regions$ | async" [value]="region">{{ region }}</option>
       </select>
   </div>
  </form>