
    
    <main class="country-detail-page container">
        
        <button class="app-button back-button" [routerLink]="['']">
            Back
          </button>
  
        <!-- <section class="country-info">
          <img
            src=""
            alt=""
            class="country-info-flag"
          />
  
          <div class="country-info-details">
            <h2 class="country-info-name">{{ country.name }}</h2>
            <div class="country-info-meta">
              <p><strong>Native Name:</strong> {{ country.nativeName }}</p>
              <p><strong>Population:</strong> {{ country.population }}</p>
              <p><strong>Region:</strong> {{ country.region }}</p>
              <p><strong>Sub Region:</strong> {{ country.subRegion }}</p>
              <p><strong>Capital:</strong> {{ country.capital }}</p>
            </div>
            <div class="country-info-meta country-info-meta-secondary">
              <p><strong>Top Level Domain:</strong> {{ country.topLevelDomain }}</p>
              <p><strong>Currencies:</strong> {{ country.currencies }}</p>
              <p><strong>Languages:</strong> {{ country.languages }}</p>
            </div>
          </div>
  
          <div class="country-info-borders">
            <h3>Border Countries:</h3>
            <div class="border-countries-list">
              @for (border of country.borderCountries; track border) {
                <button class="app-button border-country-button">
                  {{ border }}
                </button>
              }
            </div>
          </div>
        </section> -->
      </main>
