<main class="country-detail-page container">
  <button class="app-button back-button" [routerLink]="['']">Back</button>

  <section class="country-info">
    @if (loading$ | async) {
    <p>Loading...</p>
    }@else { @if(country$ | async; as country){
    <img [src]="country.flags.png" [alt]="country.name.common + ' flag'" />
    <div class="info-main">
      <h2 class="country-info-name">{{ country.name.common }}</h2>
      <div class="country-info-details">
        <div>
          <div class="country-info-meta">
            <p><strong>Native Name:</strong> {{ country.name.common }}</p>
            <p><strong>Population:</strong> {{ country.population }}</p>
            <p><strong>Region:</strong> {{ country.region }}</p>
            <p><strong>Sub Region:</strong> {{ country.region }}</p>
            <p><strong>Capital:</strong> {{ country.capital }}</p>
          </div>
        </div>

        <div class="country-info-meta country-info-meta-secondary">
          <p><strong>Top Level Domain:</strong> {{ country.tld }}</p>
          <p>
            <strong>Currencies:</strong>
            @for(currency of country.currencies | keyvalue; track currency.key){
            {{ currency.value.name }}
            }
          </p>

          <p>
            <strong>Languages:</strong>
            @for(lang of country.languages | keyvalue; track lang.key){
            {{ lang.value }}
            }
          </p>
        </div>
      </div>

      <div class="country-info-borders">
        <h3>Border Countries:</h3>
        <div class="border-countries-list">
          @for (border of country.borders; track border) { @if
          (!country.borders || country.borders.length === 0) {
          <p>{{ country.name.common }} has no borders</p>
          } @else {

            <button (click)="showBorderCountryDetails(border)">
              {{ border }}
            </button>
          }
          }
        </div>
      </div>
    </div>
    } }
  </section>
</main>
